@model LojaDeEsporte.Presentation.WebApp.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <p>Área restrita:</p>
        @using(Html.BeginForm()) {
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
        <p><input type="submit" value="Log in" /></p>
        }
</body>
</html>